*{
    box-sizing: border-box;
}
/* left-cnt */
.body{
    height: 100%;
}
.conct{
    padding-top: 31px;
}
.content{
    padding-left: 41px;
}
.main-head{
    margin-top: 59px;
}
.head-p{
    color: rgba(99, 99, 99, 1);
}
.start-btn a{
    color: black;
    text-decoration: none;
    background-color: rgba(182, 243, 107, 1);
    border-radius: 44px;
    padding: 10px 10px;
}
.start-btn{
    margin-top: 36px;
}
.start-btn a:hover{
    background-color: rgb(139, 158, 139);
    color: rgb(255, 254, 254);
    transition: 0.5s;
}

hr{
    margin-top: 15%;
}
.rbt-img{
    background-color: black;
    border-radius: 23px;
    width: fit-content;
    display: flex;
    color: white;
}
.rotate{
    transform: rotate(-90deg);
    position: relative;
    left: 30px;
    top: 7px;
}
.rbt-img img{
    position: relative;   
}
.video-btn{
    position: absolute;
    left: 140px;
    bottom: 59px;
}
.rbt-bottom{
    display: flex;
}
.rbt-cntnt{
    margin-left: 29px;
    margin-top: 10px;
}
.mnt-btn {
    border: solid 1px;
    color: rgb(151, 149, 149);
    width: fit-content;
    border-radius: 35px;
    padding: 6px 16px;
   position: relative;
   top: 10px;
}
.mnt-btn span{
    color: black;
}
/* content right */
.content-right {
    background-image: url(img/hd\ image.png);
    height: 100%;
    background-size: cover;
    background-position: left center;
    border-radius: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 13px;
}
.right-btns a{
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 45px;
    padding: 10px 22px; 
    font-size: small; 
}
.right-btns {
   padding: 10px;
    display: inline-block;
}
.talk-btn a{
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 45px;
    padding: 8px 20px; 
    width: fit-content;
    list-style: none;    
}
.talk-btn{
    margin-top: 10px;
    gap: 10px;
    position: relative;
}
.talk-btn a:hover{
    background-color: rgb(177, 173, 173);
    color: black;
    transition: 0.5s;
}
.talk-circle {
    padding-left: 10px;
    position: absolute;
    padding-top: 8px;
}
.top-cnt{
    display: flex;
    justify-content: space-between;
}


.card{
    height: 100%;
    background: rgba(0, 0, 0, 0.075);
    padding: 7px;
    border-radius: 10px;
    backdrop-filter: blur(20px);
    color: white;
    border: none;
    position: relative;
    overflow: hidden;
    top: 6px;
}
.card-2 {
    display: flex;
    flex-direction: column;
}
.card-cnt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.vct-left {
    background-color: white;
    border-radius: 23px;
    width: fit-content;
    padding: 7px 10px;
    height: fit-content;
    margin-left: 11px;
}
.card p{
    color: rgba(188, 204, 190, 1);
    margin: 0;
}
.phts img{
    align-items: center;
}
.left-head{
    display: flex;
    align-items: center;
}
.card-cnt span {
    color: white;
    font-size: 35px;
    font-weight: bold;
}
.phts img {
    align-items: center;
    position: relative;
    left: -25px;
    bottom: -29px;
}
/* graph */
.graph{
    display: flex;
    align-items: flex-end;
    background-color: rgba(0, 0, 0, 0.103);
    border-radius: 10px;
    height: 130px;
}
.graph-1{
    background-color: white;
    height: 30%;
    border-radius: 10px;
    width: 100%;
}
.graph-2{
    background-color: white;
    height: 60%;
    border-radius: 10px;
    width: 100%;
}
.graph-3{
    background-color: white;
    height: 50%;
    border-radius: 10px;
    width: 100%;
}
.graph-4{
    background-color: white;
    height: 90%;
    border-radius: 10px;
    width: 100%;
}